<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-cli" value="https://www.myget.org/F/dotnet-cli/api/v3/index.json" />
    <add key="nugetbuild" value="https://www.myget.org/F/nugetbuild/api/v3/index.json" />
    <add key="AspNetVolatileCIDev" value="https://www.myget.org/F/aspnetvolatiledev/api/v3/index.json"/>
    <add key="xunit-runner-prototype" value="https://www.myget.org/F/coreclr-xunit/api/v2" />
  </packageSources>
</configuration>
