<#@  template hostSpecific="true" linePragmas="false" #>
<#@  parameter type="Microsoft.DotNet.Tools.Scaffold.AspNet.Models.IdentityModel" name="Model" #>
namespace <#= Model.IdentityNamespace #>;

public enum PasskeyOperation
{
    Create = 0,
    Request = 1,
}
