<#@  template hostSpecific="true" linePragmas="false" #>
<#@  parameter type="Microsoft.DotNet.Tools.Scaffold.AspNet.Models.IdentityModel" name="Model" #>
<#@  import namespace="System.Collections.Generic" #>
<#@  import namespace="System.Text" #>
<#@  import namespace="System.Linq" #>
@using <#= Model.IdentityNamespace #>.Shared
@using <#= Model.UserClassNamespace #>
@attribute [ExcludeFromInteractiveRouting]
